.header-menu {
    width: 1200px;
    height: 53px;
    margin-bottom: 12px;
    display: inline-block;
    border-bottom: 0.3px solid #46A35880;
    text-decoration: none;
}

.upper-logo img {
    width: 150px;
    height: 34.3px;
    margin: 0;
    margin-right: 229px;
}

.links-to-pages {
    width: 354px;
    height: 45px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin-right: 356px;
}

.links-to-pages li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    height: 20px;
    margin-right: 50px;
}

.header-menu a {
    text-decoration: none;
    color: #3D3D3D;
}

.links-to-pages li:last-child {
    margin-right: 0;
}


.button-login {
    margin: 0px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
    width: 100px;
    height: 35px;
    background-color: #46A358;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
}

.button-login span {
    vertical-align: top;
    height: 20px;
    width: 42px;
    margin-left: 4px;
    margin-bottom: 7px;
}

.main-banner {
    width: 1200px;
    height: 450px;
    background-color: #F5F5F580;
    display: inline-block;
}

.banner-text {
    margin-right: 90px;
}

.first-banner-text h2 {
    width: 205px;
    height: 16px;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    margin-top: 68px;
    margin-left: 40px;
    padding: 0px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #3D3D3D;
}

.second-banner-text {
    width: 530px;
    height: 140px;
    margin-left: 40px;
    margin-top: 7px;
    padding: 0px;
}

.text-h1 {
    font-size: 60px;
    font-weight: 900;
    color: #3D3D3D;
    font-style: normal;
    text-transform: uppercase;
    font-family: Tahoma, sans-serif;
}

.text-h1 span {
    color: #46A358;
    font-size: 60px;
}

.banner-img {
    width: 507px;
    height: 450px;
    display: inline-block;
}

.banner-paragraph {
    width: 557px;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 5px;
    color: #727272;
}

.button-to-shop {
    width: 140px;
    height: 40px;
    margin-top: 44px;
    margin-left: 41px;
    border-radius: 6px;
    border: none;
    background-color: #46A358;
    padding-left: 26px;
    padding-top: 11px;
    padding-right: 27px;
    padding-bottom: 9px;
}

.button-to-shop span {
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

.banner-text,
.banner-img {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

/* частина з фільтрами та картинками товарів */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.body {
    margin-top: 30px;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.catalog {
    margin-top: 46px;
    padding: 0px;
    max-width: 1200px;
    display: inline-block;
}

.catalog-main-left-part {
    float: left;
}

.catalog-menu {
    font-family: Tahoma, sans-serif;
    width: 285px;
    padding: 0;
    text-decoration: none;
    color: #FFFFFF;
    min-height: 744px;
}

.catalog-menu-title {
    font-size: 18px;
    font-style: normal;
    line-height: 16px;
    margin-top: 14px;
    margin-left: 16.55px;
    color: #3D3D3D;
}

.catalog-menu-list {
    margin-top: 7px;
    margin-left: 27.58px;
    font-size: 15px;
    list-style: none;
    padding: 0px;
}

.catalog-menu-list a {
    text-decoration: none;
    color: #4E4C4C;
    color: #4E4C4C;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.catalog-menu-list span {
    float: right;
    margin-right: 22.06px;
}

.banner {
    width: 285px;
}

.catalog-with-pic {
    height: 1244px;
}

.catalog-with-pic::after {
    float: right;
    width: 895px;
}

.catalog-filter {
    font-size: 15px;
    line-height: 16px;
    width: 893px;
    height: 23px;
    list-style: none;
    margin-bottom: 31px;
    margin-left: 305px;
    color: #3D3D3D;
}

.left-part-filter {
    width: 350px;
    float: left;
}

.left-part-filter .plants-green a {
    color: #46A358;
}

.left-part-filter ul {
    margin: 0px;
    padding: 0px;
}

.left-part-filter a {
    text-decoration: none;
    color: #3D3D3D;
}

.left-part-filter li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-right: 43px;
}

.right-part-filter {
    float: right;
    margin: 0px;
    font-size: 15px;
    line-height: 16px;
}

.right-part-filter p {
    display: inline-block;
    margin: 0px;
    margin-left: 9px;
}

.right-part-filter svg {
    vertical-align: middle;
    margin-left: 6px;
}

.catalog-item {
    width: 285px;
    height: 350px;
    margin-left: 20px;
    margin-bottom: 70px;
    float: left;
}

.catalog-item-pic {
    height: 260px;
    background-color: #FBFBFB;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 12px;
}

.catalog-item-title {
    font-size: 16px;
    color: #3D3D3D;
    margin-bottom: 6px;
    margin-top: 0px;
}

.catalog-item-price {
    font-size: 16px;
    color: #46A358;
    font-weight: bold;
    margin: 0px;

}

.catalog-navigation {
    float: right;
    height: 35px;
    margin-top: 30px;
    text-align: center;
}

.catalog-navigation ul {
    margin: 0px;
    padding: 0px;
    color: #3D3D3D;
    font-size: 0;
    letter-spacing: 0;
}

.catalog-navigation li {
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 35px;
    vertical-align: middle;
    font-size: 16px;
}

.catalog-navigation a {
    color: #3D3D3D;
    text-decoration: none;
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

.catalog-navigation svg {
    margin-top: 8px;
}

.number-1-green {
    background-color: #46A358;
}

.number-1-green a {
    color: #FFFFFF;
}