* {
    margin: 0px;
    box-sizing: border-box;
}

/* Light 300 */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Light Italic 300 */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Regular 400 */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Regular Italic 400 */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Medium 500 */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Medium Italic 500 */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Bold Italic 700 */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Black 900 */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Black Italic 900 */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro/CeraPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

.wrapper {
    max-width: 1220px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    font-family: "Cera Pro", system-ui, sans-serif;
}

.header-menu {
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
    border-bottom: 1px solid #46A358;
}

.header-menu img {
    width: 100%;
    max-height: 34px;
    width: auto;
}

.link-to-pages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 53px;
    padding-bottom: 25px;
    padding-top: 8px;
}

.link-to-pages ul {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-shrink: 1;
}

.link-to-pages li a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    flex-shrink: 1;
    font-family: "Cera Pro";
}

.button-and-links {
    display: flex;
    align-items: center;
    gap: 33px;
    align-items: flex-start;
    flex-shrink: 1;
}

.button-and-links button {
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #46A358;
    border: none;
    border-radius: 6px;
    min-width: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 17px;
}

.magnifying-glass svg {
    padding-top: 8px;
    height: auto;
    width: auto;
}

.basket svg {
    padding-top: 5px;
    height: auto;
    width: auto;
}

.baner {
    max-width: 1200px;
    padding-top: 12px;
    display: flex;
}


.first-banner-text h2 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding-top: 68px;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 7px;
    padding-left: 40px;
    letter-spacing: 1.4px;
}

.second-banner-text {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

.text-h1 {
    margin: 0;
    line-height: 70px;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-right: 0px;
    padding-bottom: 5px;
}

.text-h1 span {
    color: #46A358;
}

.banner-paragraph {
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 40px;
    max-width: 597px;
    padding-bottom: 44px;
}

.conteiner-for-button {
    padding-left: 40px;
}

.button-to-shop {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: #46A358;
    padding: 0px;
    border: none;
}

.button-to-shop span {
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 27px;
    padding-right: 26px;
    padding-top: 11px;
    padding-bottom: 9px;
    display: flex;
}

.catalog {
    padding-top: 46px;
    display: flex;
}

.right-filter-and-sale {
    width: auto;
    height: auto;
}

.catalog-menu-title {
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-top: 14px;
    padding-left: 16.55px;
    padding-bottom: 7px;
    display: flex;
}

.catalog-menu-list {
    list-style: none;
    padding-left: 27.58px;
    padding-bottom: 377px;
    max-width: 285px;
    display: flex;
    flex-direction: column;
}

.catalog-menu-list li a {
    color: #4E4C4C;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.catalog-menu-list li {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.catalog-menu-list .green-list {
    color: #46A358;
}

.banner {
    display: flex;
    max-width: 285px;
    max-height: 470px;
}

.blok-colum {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;

}

.filter-to-pic {
    max-width: 893px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 38px;
}

.left-filter ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0px;
}

.left-filter li a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.catalog-with-plenet .plants-green {
    color: #46A358;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.new-arrivals a {
    padding-left: 39.43px;
    padding-right: 42.63px;
}

.right-part-filter {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.default-sorting {
    padding-left: 8.53px;
    padding-right: 5.33px;
}

.all-pic-plants {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}

.catalog-item {
    width: 33.333%;
    height: 420px;
    padding: 0 10px 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.catalog-item-pic img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
    display: block;
}

.catalog-item-pic {
    max-height: 300px;
    display: flex;
    justify-content: center;
    background: #FBFBFB;
    padding-bottom: 50px;
}

.catalog-item-title {
    padding-top: 12px;
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.catalog-item-price {
    padding-top: 6px;
    color: #46A358;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.catalog-navigation {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    gap: 10px;
}

.catalog-navigation li {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    width: 35px;
    height: 35px;
}

.catalog-navigation a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    display: flex;
    justify-content: center;
    padding-top: 9px;
}

.catalog-navigation .number-1-green {
    border: none;
    background: #46A358;
}

.number-1-green a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}