* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    margin-top: 30px;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header-menu {
    width: 1200px;
    height: 53px;
    margin-bottom: 12px;
    display: inline-block;
}

header {
    border-bottom: 0.3px solid #46A35880;
}

.upper-logo img {
    width: 150px;
    height: 34.3px;
    margin: 0;
    margin-right: 229px;
}

.links-to-pages {
    width: 354px;
    height: 45px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin-right: 356px;
}

.links-to-pages li {
    display: inline-block;
}

a {
    text-decoration: none;
    height: 20px;
    color: #3D3D3D;
}

.link-home {
    width: 48px;
}

.link-shop {
    width: 41px;
    margin-left: 47px;
}

.link-plant-care {
    margin-left: 47px;
}

.link-blogs {
    margin-left: 36px;
}

.button-login {
    margin: 0px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
    width: 100px;
    height: 35px;
    background-color: #46A358;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
}

.button-login span {
    vertical-align: top;
    height: 20px;
    width: 42px;
    margin-left: 4px;
    margin-bottom: 7px;
}

.main-banner {
    width: 1200px;
    height: 450px;
    background-color: #F5F5F580;
    margin-bottom: 52px;
    display: inline-block;
}

.first-banner-text h2 {
    width: 205px;
    height: 16px;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    margin-top: 68px;
    margin-left: 43px;
    padding: 0px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #3D3D3D;
}

.second-banner-text {
    width: 530px;
    height: 140px;
    margin-left: 40px;
    margin-top: 7px;
    padding: 0px;
}

.text-h1 {
    font-size: 60px;
    font-weight: 900;
    color: #3D3D3D;
    font-style: normal;
    text-transform: uppercase;
    font-family: Tahoma, sans-serif;
}

.text-h1 span {
    color: #46A358;
    font-size: 60px;
}

.banner-img img {
    width: 507px;
    height: 450px;
    margin-left: 693px;
    top: 95px;
    position: absolute;
}

.banner-paragraph {
    width: 557px;
    font-size: 14px;
    margin-left: 43px;
    margin-top: 5px;
    color: #727272;
}

.button-to-shop {
    width: 140px;
    height: 40px;
    margin-top: 44px;
    margin-left: 41px;
    border-radius: 6px;
    border: none;
    background-color: #46A358;
    padding-left: 26px;
    padding-top: 11px;
    padding-right: 27px;
    padding-bottom: 9px;
}

.button-to-shop span {
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}